#wwd_h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 90px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.teamh2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    letter-spacing: 0.03em;

}

.title_clients {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    letter-spacing: 0.03em;

}